html,
body {
  background-color: #e5e5e5;
}

.container {
  
}

input {
  width: 100%;
  height: 42px;
  
  
  background-color: #e5e5e5;
  border: 1px solid #c1c1c1;
}

h3 {
  margin-top: 10px;
}

.search {
  margin: 0 auto;
  margin-top: 240px;
  transition-property: margin-top;
  transition-duration: 2s;
  
}

input::placeholder {
  color: #b4b4b4;
}

:focus::-webkit-input-placeholder {
  color: transparent
}
:focus::-moz-placeholder {
  color: transparent
}
:focus:-moz-placeholder {
  color: transparent
}
:focus:-ms-input-placeholder {
  color: transparent
}
input[type="text"]:focus { 
  outline: none;
  box-shadow: 0 3px 2px 1px rgba(0,0,0,0.2);  
}

.blockButt {
  margin-top: 20px;
}

.butt {
  width: 100%;
  height: 44px;
  
  color: #ebebeb;
  
  background-color: #53a0ef;
  border-radius: 2px;
  border: 2px solid #53a0ef;
  
}

.butt:active {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding-top: 2px;
}


.list {
  display: block;
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);  
  text-decoration: none;
  color: black;
}

.list:hover {
  text-decoration: none;
  color: black;
}

.list:link {
  text-decoration: none;
  color: black;
}

.list > p {
  color: #605F5C;
}

.list > h3:hover {
  text-decoration: underline;
}

@media (min-width: 520px) {
  .butt {
  width: 144px;
 
}
  
  .butt1 {
    float: right;
  }
  
  .containerList {
    padding-left: 10%;
    padding-right: 10%;
  }
  
   .containerSearch {
    padding-left: 15%;
    padding-right: 15%;
  }
}
}

